<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruitement Adda</title>
    <link rel="stylesheet" href="./assets/css/index.css">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>
    <nav>
        <div class="topnav" id="myTopnav">
            <a href="#" class="logo"></object>
            </a>
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="./user/login">Login</a>
            <a href="./user/register">Register</a>
            <a href="emailto:support@recruitementaddas.com">Contact Us</a>
            <a href="https://www.youtube.com/channel/UCeAjpb1pG7AXQ7zMhMp4d7Q" target="_blank">Subscribe</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="NavBar()">&#9776;</a>
        </div>
    </nav>
    <div class="banner" id="home" >
        <section>
            <p class="sub-title">Welcome To <em>RECRUITMENTADDA.COM</em></p>
            <h1 class="title">Let's Step Together into a New Era of Recruitment​</h1>
            <a href="#blog" class="btn1">Start Now</a>
        </section>
    </div>
    <div class="section1">
        <div class="card">
            <span><img src="https://i.ibb.co/D1fcvSS/01.png" alt="flaticon.com" loading="lazy"></span>
            <span>
                    <h1 class="title">Adaptability</h1>
                    <p>Those who can best manage change are the one who survives</p>
                </span>
        </div>
        <div class="card">
            <span><img src="https://i.ibb.co/D1fcvSS/01.png" alt="flaticon.com" loading="lazy"></span>
            <span>
                    <h1 class="title">Flexibility</h1>
                    <p>The measure of intelligence is the ability to change.</p>
                </span>
        </div>
        <div class="card">
            <span><img src="https://i.ibb.co/D1fcvSS/01.png" alt="flaticon.com" loading="lazy"></span>
            <span>
                    <h1 class="title">Quality</h1>
                    <p>Quality means doing it right when no one is looking</p>
                </span>
        </div>
    </div>
    <div class="section2" id="about" >
        <section class="image__container" >
            <img src="/assets/image/aboutUs.jpg" alt="freepik.com" loading="lazy">
        </section>
        <section>
            <h1 class="title">Transforming Life
            </h1>
            <p>Recruitement Adda is a Traning and Placement Organisation in US IT Recruitement Industry  across PAN  India.</p>
            <p>We are into a Mission to transform life of Every indivisual Who is Interested in Staffing Industry. We provide helping hand to indivisual who are Good with communication skills.</p>
            <p>We all as a Team Has expertise in Almost all the Domain in US Recruitement Industry</p>
        </section>
    </div>
    <div class="section3">
        <section class="image__container" >
            <img src="/assets/image/whyUs.jpg" alt="freepik.com" loading="lazy">
        </section>
        <section>
            <h1 class="title">We are experienced Recruitement professional, Who Only believe in providing Quality..
            </h1>
            <p>
                We Provide Tranning to Both Fresher's and Experienced Recruiter as well from ( Zero to 1 Years)
            </p>
            <p>
                We Train Fresher's from almost all Background and Help Them Getting a Job US IT Staffing
            </p>
            <p>
                We have been able to shape the careers of numerous Fresher's PAN INDIA. Our strong beliefs and values define what we stand for and determine how we work. 
            </p>
        </section>
    </div>

    <div class="section4">
        <div class="title_header">
            <span class="title">Our Solutions</span>
            <p>Process is Well Organised, You will Learn and Grow together. And Most Important You will Love the support .</p>
        </div>
        <section>
            <div class="card">
                <img src="https://i.ibb.co/D1fcvSS/01.png" alt="flaticon.com" loading="lazy">
                <h1 class="title"> Audio/Video Training </h1>
            </div>
            <div class="card">
                <img src="https://i.ibb.co/D1fcvSS/01.png" alt="flaticon.com" loading="lazy">
                <h1 class="title"> Weekly QN/A </h1>
            </div>
            <div class="card">
                <img src="https://i.ibb.co/D1fcvSS/01.png" alt="flaticon.com" loading="lazy">
                <h1 class="title"> Friendly Process </h1>
            </div>
        </section>
        <section>
            <div class="card">
                <img src="https://i.ibb.co/D1fcvSS/01.png" alt="flaticon.com" loading="lazy">
                <h1 class="title"> Email Support </h1>
            </div>
            <div class="card">
                <img src="https://i.ibb.co/D1fcvSS/01.png" alt="flaticon.com" loading="lazy">
                <h1 class="title"> Accountability </h1>
            </div>
            <div class="card">
                <img src="https://i.ibb.co/D1fcvSS/01.png" alt="flaticon.com" loading="lazy">
                <h1 class="title">Empowering Team work</h1>
            </div>
        </section>
    </div>
    <footer>
        <div class=" footer ">
            <section>
                <a class="logo"></a>
                <p>We Believe In Continuous Learning</p>
            </section>
            <section>
                <h3>LINKS</h3>
                <a href="# ">Home</a>
                <a href="# ">About Us</a>
                <a href="# ">Blog</a>
                <a href="# ">Contact Us</a>
            </section>
            <section>
                <h3>OTHER</h3>
                <a href="# ">Privacy Policy</a>
                <a href="# ">Terms & Conditions</a>
                <a href="# ">Cookie Policy</a>
            </section>
            <section>
                <h3>ANY QUESTIONS?</h3>
                <a href="emailto:support@recruitementaddas.com "><span><i
                                class="fa fa-envelope "></i></span><span>support@recruitementadda.com</span></a>
                <a href="tel:xxxxxxxxx "><span><i class="fa fa-phone "></i></span><span>(+x)-xxx-xxxx-xxxxx</span></a>
            </section>
        </div>
    </footer>
    <div class="sub-footer ">
        Copyright ©2022 All rights reserved | Recruitement Addas
    </div>
    <script src="./assets/js/index.js "></script>
</body>

</html>