<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruitement Addas</title>
    <link rel="stylesheet" href="/assets/css/auth.css">
</head>

<body>

    <body>
        <div class="form">
            <form class="login-form" action="/user/register" method="post" enctype='application/json'>
                <i class="fas fa-user-plus"></i>
                <input class="user-input" type="text" name="name" placeholder="Name" required>
                <input class="user-input" type="email" name="email" placeholder="Email" required>
                <input class="user-input" type="password" name="password" placeholder="Password" required>
                <input class="btn" type="submit" name="" value="SIGN UP">
                <div class="options-02">
                    <p>Already Registered? <a href="/user/login">Sign In</a></p>
                </div>
            </form>
        </div>
    </body>
</body>

</html>