.profile .name {
    color: #000000;
}

.profile .title {
    color: #7C8097;
}

.profile .description {
    color: #000000;
}

.profile .icon h4 {
    color: #000000;
}

.profile p {
    color: #666B7D;
}

.profile .thumbnail {
    width: 96px;
    height: 96px;
    border-radius: 50%;
}


.wrapper {
    display: flex;
    flex-direction: row;
    background: #FDFEFF;
    transition: background .6s ease;
    border-radius: 10px;
    padding: 0 20px 20px 20px;
    box-shadow: 0 8px 40px rgba(#000000, .2);
}

.reviews{
    background-color: white;
}

@media only screen and (max-width: 600px) {

    h2{
        font-size: 1.5rem;
    }
    .wrapper {
        flex-direction: column;
    }
}

.wrapper .top-icons i {
    color: #080911;
}

.profile {
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1.5rem 0.5rem 0rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

@media only screen and (max-width: 600px) {
    .profile {
        width: 100%;
    }
}

.name {
    color: #2D354A;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.title {
    color: #7C8097;
    font-size: .75em;
    font-weight: 300;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .7em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.description {
    color: #080911;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.3em;
}